/*multipage styles*/
body {
  margin: 0px;
  color: #302b63;
  text-align: center;
}

.text {
  font-family: "Eczar", serif;
  font-size: 20px;
  text-align: left;
  color: #302b63;
}

/* Font Families and font sizes */
header {
  font-family: "Kaushan Script", serif;
  font-size: 45px;
}
h1 {
  font-family: "IM Fell English SC", serif;
  font-size: 25px;
}
p {
  font-family: "Eczar", serif;
  font-size: 20px;
}

/*--editing my nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #323031;
}
li {
  float: right;
  font-size: 25px;
}
li a {
  display: block;
  color:  #0b6b89;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #79231a;
}
a {
  color: #302b63;
  text-decoration: none;
}

/* Styles for Images*/
.P1 {
  opacity: 1;
  display: block;
  width: 615px;
  height: 400px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.P2 {
  opacity: 1;
  display: block;
  width: 580px;
  height: 430px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.H1{
  opacity: 1;
  display: block;
  width: 550px;
  height: 357px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.H2 {
  opacity: 1;
  display: block;
  width: 575px;
  height: 357px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.Personal_pic{
  margin-right: 250px;
  border-radius: 30%;
}
/* Biography page*/
#Main {
  background: linear-gradient(#0b6b89, #157381);
  padding: 50px;
  display: flex;
  flex-direction: row-reverse;
}
#Bio {
  background: linear-gradient(#157381, #178090);
  padding: 50px;
  margin: auto;
  text-align: center;
}
.known {
  display: flex;
  flex-direction: row;
  font-size: 100px;
  align-items: center;
  justify-content: space-around;
}
.Bio_text {
  font-size: 25px;
  margin-bottom: 150px;
}
.About_me{
  font-size: 60px;
}
.name{
  font-size:60px;
  margin-right: 200px;
  margin-top: 100px;
  justify-content: center;
}
/*Project page styles*/
.Title_Logo {
  font-size: 100px;
  margin-right: 50px;
}
.Title{
  margin-right: 450px;
  display: flex;
  flex-direction: row-reverse;
}
.Title_text{
  font-size: 50px;
}
#Python_title {
  background: linear-gradient(#178090, #1c9caf);
  color: black;
  padding: 50px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
}
#Python-body {
  margin-left: 35px;
  background: #1c9caf;
  color: black;
  padding: 50px;
  margin: auto;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
#Python-box1 {
  border: 4px solid #9ea2a3;
  height: auto;
  color: black;
  border-radius: 0px;
  width: 610px;
  background-color: #9ea2a3;

}
.P1:hover {
  border: 4px solid blue;
}
#Python-box2 {
  height: 628px;
  border: 4px solid #9ea2a3;
  border-radius: 0px;
  width: 580px;
  background-color: #9ea2a3;

}
.P2:hover {
  border: 4px solid blue;
}
/* The Html Section*/
#HTML_title {
  background: linear-gradient( #1c9caf, #1faabe );
  color: black;
  padding: 50px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
}
#Html_body {
  margin-left: 35px;
  background: linear-gradient( #1faabe,#20b3c8 );
  color: black;
  padding: 50px;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}
#Html_box1 {
  border: 4px solid #9ea2a3;
  border-radius: 0px;
  width: 555px;
  height: 560px;
  background-color: #9ea2a3;

}
.H1:hover {
  border: 4px solid blue;
}
#Html_box2 {
  
  border: 4px solid #9ea2a3;
  border-radius: 0px;
  width: 580px;
  height: 560px;
  background-color: #9ea2a3;
  
}
.H2:hover {
  border: 4px solid blue;
}
/* contact page */
#contacts {
  font-size: 100px;
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
#background {
  background: linear-gradient(#20b3c8, #22bed4, 85%, black);
  height: 714px;
}
.contact_text{
  font-family: "Eczar", serif;
  font-size: 20px;
}
.github,.Linkdin,.email{
  margin:300px;
}
/* Media Queries */
@media only screen and (max-width: 600px) {
  nav {
    width: 800px;
  }
  #contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: start;
  }
  #Python_title,
  #HTML_title,
  #Main,
  #Bio {
    width: 700px;
    display: flex;
    flex-direction: column;
  }
  .Title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px;
    width: 100%;
    height: 100%;
  }
  .Title_text{
    font-size: 25px;
  }
  .Title_Logo{
    font-size: 60px;
  }
  #background {
    width: 800px;
    height: 1210px;
  }
  .P1,.P2,.H1,.H2{
    opacity: 1;
    display: block;
    width: 450px;
    height: 200px;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
  .P2{
    height:350px;
  }
  #Main{
    align-items: center;
  }
  .name{
    font-size: 25px;
    text-align: center;
    margin-left: 230px;
  }
  .Personal_pic{
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-left: 275px;
    align-items: center;
  }
  #Bio {
    margin: 0px;
    height: 1200px;
  }
  #Python-body,
  #Html_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 1200px;
  }
  #Html_body{
    height: 1600px;
  }
  #Python-box1,
  #Python-box2,
  #Html_box1,
  #Html_box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }
  #Python-box2,
  #Html_box2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #Html_box1 {
    height: 500px;
  }
  .Title_text{
    font-size: 25px;
  }
  .Title_Logo{
    font-size: 60px;
  }
  .H1{
    width:600px;
    height: 250px;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}