html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
.Nav-Abt{
    background: #dcdcdc;
    height: 68vh;
}
.topnav {
    background-color: #dcdcdc;
    overflow: hidden;
    display: flex;
}
#pagetitle{
    Color: #313131;
    font-size: x-large;
    position: absolute;
    left: 41%;
    
}
.topnav a {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Cormorant Infant";
    font-size: xx-large;
}
.AbtMe{
    font-family: "Cormorant Infant";
    margin-left: 30%;
    margin-top: 20vh;
}
.AbtMe h1{
    font-size: 5em;
}
.AbtMe h2{
    font-size: 2em;
    margin-left: 9%;
}
.Skills{
    background-color:white;
    margin-top: 0%;
}
.skills-header{
    Color: #313131;
    font-size: 3em;
    position: absolute;
    left: 40%;
    top: 70vh;
}
.skill-sectionsH{
    display: flex;
    margin-top: 10%;
    color: black;
    list-style: none;
    justify-content: space-evenly;
}
.skill{
    line-height: 25vh;
    font-size: 2em;
    text-align: center;
}
.skill-sectionsP{
    display: flex;
    color: black;
    list-style: none;
    justify-content: space-evenly;
}
.skillp{
    line-height: vh;
    font-size: 1.5em;
}